mixin connection(connect)
    +b.connection
        +e.title !{connect.title}
        if connect.href
            +e('a')(href=connect.href title=connect.textLink).link !{connect.textLink}
        else if connect.socials
            +e.socials
                each item in connect.socials
                    a(href=item.href title=item.title)
                        include ui-kit/icon.pug
                        +icon(item.icon)